body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#filePreviewContainer {
  .previewImage {
    width: 100%;
  }
}

.fileWidget {
  position: relative;
  width: 230px;
  padding: 5px;
  border: 2px black solid;
  margin-bottom: 8px;
  font-size: 12px;
  cursor: pointer;
  .textContainer {
    position: absolute;
    display: inline-block;
    width: 181px;
    margin: 3px 0 0 12px;
    .fileName {
      margin-bottom: 2px;
    }
    .fileType {
      display: inline-block;
      color: #00B7FF;
      text-decoration: underline;
      font-size: 10px;
    }
    .fileSize {
      display: inline-block;
      float: right;
      font-size: 10px;
    }
  }
  .hoverPane {
    display: none;
  }
  &:hover {
    .hoverPane {
      display: block;
      position: absolute;
      background-color: #AAAAAA;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .8;
      .hoverImage {
        display: inline;
        position: relative;
        margin-top: 10px;
        &.eyeImage {
          left: 170px;
        }
        &.downloadImage {
          left: 180px;
        }
      }
    }
  }
}